:root {
    --main-color: #ec7c7c;
    --secondary: #ececec;
    --light-gray: #eee;
    --light-gray-alt: #f4f4f4;
}

html,
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(177, 176, 176);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hero-title {
    margin: 15px;
    font-weight: 500;
    font-size: 1.5rem;
}

.mobile-only {
    display: none;
}

button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .pc-only {
        display: none;
    }

    .mobile-only {
        display: inherit;
    }
}